<h1> This is the template for the home page</h1>

<p1>You know what was passed, <%= title %></p1>

<ul>
	<%   for (var i=0;i<movies.length;i++) {    %>
			<li>  <%= movies[i] %> </li>
	<%    }   %>
</ul>